<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remmoo997.igtvsaver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name=".activities.IGTVSaverApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3836303927954880~9778190433" />

        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="instagram.com"
                    android:scheme="http" />
                <data
                    android:host="instagram.com"
                    android:scheme="https" />
                <data
                    android:host="*.instagram.com"
                    android:scheme="http" />
                <data
                    android:host="*.instagram.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VideoActivity"
            android:launchMode="singleTask"
            android:theme="@style/MediaStyle" />
        <activity
            android:name=".activities.PhotoActivity"
            android:launchMode="singleTask"
            android:theme="@style/MediaStyle" />
        <activity
            android:name=".activities.ConnectionActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.GridActivity"
            android:launchMode="singleTask"/>

        <service
            android:name=".services.ClipboardService"
            android:exported="false" />

        <receiver
            android:name=".services.MyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>